@import url('https://fonts.googleapis.com/css2?family=Eater&family=Nunito:wght@200&display=swap');

.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 20px;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: 'Eater', cursive;
  color: white;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 72px;
}